@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  /* height: 100%;
  overflow-x: hidden; */
  scroll-behavior: smooth;
}

#section-1 .owl-prev,
#section-1 .owl-next {
  @apply bg-primary lg:w-[60px] lg:h-[60px] w-[35px] h-[35px] rounded-full flex items-center justify-center text-black lg:text-2xl text-lg;
}

#section-1 .owl-prev {
  @apply absolute -translate-y-1/2 lg:left-0 -left-10 top-1/2;
}
#section-1 .owl-next {
  @apply absolute -translate-y-1/2 lg:right-0 -right-10 top-1/2;
}
.owl-carousel .owl-dots {
  @apply flex items-center justify-between gap-2 mt-5;
}
.owl-carousel .owl-dot {
  @apply !bg-gray-300 w-[50px] h-[5px] rounded-full flex-1;
}
.owl-carousel .owl-dot.active {
  @apply !bg-primary;
}

#section-3 .owl-stage {
  padding-right: 0 !important;
}

#circles-section .owl-item.center > a {
  @apply !bg-white;
}
/* odd vs  */

.archive-filter-list {
  display: none;
  z-index: 10;
}

.archive-filter-item.active .archive-filter-list {
  display: block;
}

.overlay {
  display: none;
}§
.overlay.active {
  display: block;
}
.paginate-item.active {
  @apply !bg-primary;
}

.menu-list.active {
  @apply top-0;
}
.filter-menu.active {
  @apply bottom-0;
}
.menu-list {
  @apply shadow-lg shadow-transparent;
}
.header-sticky .menu-list {
  @apply shadow-lg shadow-[#00000068];
}

.header-sticky {
  @apply fixed w-full md:relative md:w-auto z-50 shadow-lg shadow-[#0000005b] md:shadow-none;
}
